/* Táblázat beállításai */
table {
        border-collapse:collapse;  /* szegély összevonása*/
      }
td,th { 
        border:1px solid black;   /* szegély beállítása */
        padding: 10px;              /* kitöltés (belső margó) beállítása */  
       }


/* További beállítások a feladat szerint */
h1{
        color: blue;
}

#vastag{
        font-weight: bold;
}

h1, h2{
        font-family: Arial, Helvetica, sans-serif;
}
caption{
        font-style: italic;
}

td, th{
        background-color: lightblue;
}